inviq/n8n/workflows/EndToEnd_InvIQ_Workflow.json
{
  "name": "InvoiceIQ Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an invoice processing agent. Your goal is to:\n\n1. **Retrieve all files' IDs** for the given lift ticket: {{ $json.lift_ticket_id }} \n2. **Process each file**: Using the file's fileId, you need to actually retrieve the contents of the file. \n3. **Extract data from the file**: Using the file's contents, you need to extract the important data from the file.   \n4. **Apply business rules** to validate and route the invoices\n5. **Return a decision** with reasoning\n\nBusiness Rules:\n- Invoices > $10,000 require manager approval\n- Missing PO numbers need procurement review\n- Duplicate vendors within 24hrs need verification\n\nIMPORTANT: The lift ticket ID is: {{ $json.lift_ticket_id }}\n\n**CRITICAL**: You must return your response as a valid JSON object with this exact structure:\n\n```json\n{\n  \"lift_ticket\": \"{{ $json.lift_ticket_id }}\",\n  \"file_id\": \"extracted_file_id\",\n  \"vendor_name\": \"extracted_vendor_name\",\n  \"invoice_number\": \"extracted_invoice_number\", \n  \"invoice_date\": \"extracted_date\",\n  \"total_amount\": \"extracted_amount\",\n  \"purchase_order_number\": \"extracted_po_number\",\n  \"banking_details\": \"extracted_banking_info\",\n  \"payment_terms\": \"extracted_payment_terms\",\n  \"memo_description\": \"extracted_description\",\n  \"shipped_to_address\": \"extracted_shipping_address\",\n  \"service_start_date\": \"extracted_service_start\",\n  \"service_end_date\": \"extracted_service_end\",\n  \"quantity\": \"extracted_quantity\",\n  \"unit_price\": \"extracted_unit_price\",\n  \"payment_type\": \"extracted_payment_type\",\n  \"due_date\": \"calculated_due_date\",\n  \"vendor_tax_id\": \"extracted_vendor_tax_id\",\n  \"snowflake_tax_id\": \"extracted_snowflake_tax_id\",\n  \"prepaid_flag\": \"extracted_prepaid_flag\",\n  \"action\": \"approve|reject|pending\",\n  \"rejection_reason\": \"reason_if_rejected\",\n  \"business_rules_analysis\": {\n    \"amount_threshold_check\": \"passed|failed\",\n    \"po_number_check\": \"passed|failed\", \n    \"duplicate_vendor_check\": \"passed|failed|unable_to_verify\"\n  },\n  \"decision_reasoning\": \"detailed explanation of the decision\"\n}\n```\n\nDo not include any text before or after the JSON. Return only the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        976,
        -64
      ],
      "id": "d3f2e5f4-f1f5-49f4-a896-41e7e9dfaadf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        160
      ],
      "id": "1fd782e8-6cb7-4b14-8111-8ee5da6d2026",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "16HQbADPcGyhAlTC",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "default",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        544,
        -64
      ],
      "id": "fd14257c-7b37-4c93-bb74-ab359a53aa3a",
      "name": "Webhook",
      "webhookId": "0759b6b7-7677-452f-b2ef-247c4739e1dd"
    },
    {
      "parameters": {
        "toolDescription": "This tool allows you to provide a file ID and it will return the extracted file data. ",
        "url": "http://gateway/extract-invoice-by-file-id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', ``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1312,
        192
      ],
      "id": "aabc95f6-6b2a-4688-9ff4-bb8cdff67983",
      "name": "Extract Invoice Data"
    },
    {
      "parameters": {
        "toolDescription": "=Given a lift ticket ID:  {{ $json.lift_ticket_id }}, this tool lists all the file IDs associated with that lift ticket. The file IDs can then be used for downloading the associated PDFs.",
        "url": "http://gateway/list-files-by-ticket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lift_ticket",
              "value": "={{ $json.lift_ticket_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        944,
        160
      ],
      "id": "700ec32b-a7fb-453f-a8ba-29d2d45fba57",
      "name": "List Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89ff20c8-a5c4-4cdc-8ee6-bff839e8accd",
              "name": "lift_ticket_id",
              "value": "={{ $json.body.lift_ticket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -64
      ],
      "id": "a5683bd4-2812-45af-86a1-38e335a3c814",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// Extract JSON from agent response\nconst agentResponse = $input.first().json.output;\n\n// Try to extract JSON from the response text\nlet invoiceData;\n\ntry {\n  // Look for JSON in the response\n  const jsonMatch = agentResponse.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    invoiceData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error(\"No JSON found in response\");\n  }\n} catch (error) {\n  // Fallback: try to parse the entire response as JSON\n  try {\n    invoiceData = JSON.parse(agentResponse);\n  } catch (parseError) {\n    throw new Error(`Failed to parse JSON from agent response: ${parseError.message}`);\n  }\n}\n\n// Validate required fields\nconst requiredFields = ['lift_ticket', 'file_id', 'vendor_name', 'invoice_number', 'total_amount'];\nfor (const field of requiredFields) {\n  if (!invoiceData[field]) {\n    throw new Error(`Missing required field: ${field}`);\n  }\n}\n\n// Ensure action is valid\nif (!['approve', 'reject', 'pending'].includes(invoiceData.action)) {\n  invoiceData.action = 'pending';\n}\n\n// Add rejection_reason if action is reject but no reason provided\nif (invoiceData.action === 'reject' && !invoiceData.rejection_reason) {\n  invoiceData.rejection_reason = 'Rejected by business rules';\n}\n\nreturn [{\n  json: invoiceData\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        -64
      ],
      "id": "4c2c91dc-9854-41f5-b153-4c95e37560af",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gateway/create-invoice",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lift_ticket\": \"{{ $json.lift_ticket }}\",\n  \"file_id\": \"{{ $json.file_id }}\",\n  \"vendor_name\": \"{{ $json.vendor_name }}\",\n  \"invoice_number\": \"{{ $json.invoice_number }}\",\n  \"invoice_date\": \"{{ $json.invoice_date }}\",\n  \"total_amount\": \"{{ $json.total_amount }}\",\n  \"purchase_order_number\": \"{{ $json.purchase_order_number }}\",\n  \"banking_details\": \"{{ $json.banking_details }}\",\n  \"payment_terms\": \"{{ $json.payment_terms }}\",\n  \"memo_description\": \"{{ $json.memo_description }}\",\n  \"shipped_to_address\": \"{{ $json.shipped_to_address }}\",\n  \"service_start_date\": \"{{ $json.service_start_date }}\",\n  \"service_end_date\": \"{{ $json.service_end_date }}\",\n  \"quantity\": \"{{ $json.quantity }}\",\n  \"unit_price\": \"{{ $json.unit_price }}\",\n  \"payment_type\": \"{{ $json.payment_type }}\",\n  \"due_date\": \"{{ $json.due_date }}\",\n  \"vendor_tax_id\": \"{{ $json.vendor_tax_id }}\",\n  \"snowflake_tax_id\": \"{{ $json.snowflake_tax_id }}\",\n  \"prepaid_flag\": \"{{ $json.prepaid_flag }}\",\n  \"action\": \"{{ $json.action }}\",\n  \"rejection_reason\": \"{{ $json.rejection_reason }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1536,
        -64
      ],
      "id": "d2dcee07-efad-4847-942e-68bce8e71779",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "83ae0881-bfa9-488b-b697-49821ebe41ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b4d3479a94fc6cabf60777a3712bdfcd656375e653d1c04ff6208b91b123bf9d"
  },
  "id": "Cxi8S6J6FNQw7MS9",
  "tags": []
}