inviq/n8n/workflows/EndToEnd_InvIQ_Workflow.json
{
  "name": "InvoiceIQ Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an invoice processing agent. Your goal is to:\n\n1. **Retrieve all files' IDs** for the given lift ticket: {{ $json.lift_ticket_id }} \n2. **Process each file**: Using the file's fileId, you need to actually retrieve the contents of the file. \n3. ** Extract data from the file ** Using the file's contents, you need to extract the important data from the file.   \n3. **Apply business rules** to validate and route the invoices\n4. **Return a decision** with reasoning\n\n\n\nBusiness Rules:\n- Invoices > $10,000 require manager approval\n- Missing PO numbers need procurement review\n- Duplicate vendors within 24hrs need verification\n\nIMPORTANT: The lift ticket ID is: {{ $json.lift_ticket_id }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        240,
        0
      ],
      "id": "8fed8c11-8f9b-44ee-8f16-d7a241ae89e0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5",
          "mode": "list",
          "cachedResultName": "gpt-5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "id": "9aa6cc36-2c7c-4b49-aa5e-62790c70bbda",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "HeFawj2XtrYc6FjU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "default",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "7be0c984-28a8-46fd-9cb0-a3742055e9d6",
      "name": "Webhook",
      "webhookId": "0759b6b7-7677-452f-b2ef-247c4739e1dd"
    },
    {
      "parameters": {
        "toolDescription": "This tool allows you to provide a file ID and it will return the extracted file data. ",
        "url": "http://gateway/extract-invoice-by-file-id",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Name', ``, 'string') }}",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        576,
        256
      ],
      "id": "a3648e02-5fc1-4938-bf5a-758997613a89",
      "name": "Extract Invoice Data"
    },
    {
      "parameters": {
        "toolDescription": "=Given a lift ticket ID:  {{ $json.lift_ticket_id }}, this tool lists all the file IDs associated with that lift ticket. The file IDs can then be used for downloading the associated PDFs.",
        "url": "http://gateway/list-files-by-ticket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "lift_ticket",
              "value": "={{ $json.lift_ticket_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        208,
        224
      ],
      "id": "9861901b-3b6b-4b18-8242-3481b80954d9",
      "name": "List Files"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89ff20c8-a5c4-4cdc-8ee6-bff839e8accd",
              "name": "lift_ticket_id",
              "value": "={{ $json.body.lift_ticket_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        0
      ],
      "id": "73e3bd03-816f-4ce9-adc2-0634332dec2b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Data": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Files": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "aa9f3c9f-368d-4bce-94d4-8dbdf5a8bb73",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e14738955f90e09da133b5777e8a0f4f61826c5cf8b0b458b01b0b0ebf9c4012"
  },
  "id": "yVa9ymtwcnVKrYLA",
  "tags": []
}